@model IEnumerable<BizTalk.ESBPortal.Reader.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NativeMessageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterchangeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoutingUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResubmitAttempted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResubmitSuccessful)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NativeMessageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaultID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterchangeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoutingUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResubmitAttempted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResubmitSuccessful)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageID })
        </td>
    </tr>
}

</table>
