@model BizTalk.ESBPortal.Reader.vwFaultMessageInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vwFaultMessageInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InterchangeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterchangeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MsgInsertDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MsgInsertDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NativeMessageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NativeMessageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultSeverity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultSeverity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultGenerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultGenerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertMessagesFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertMessagesFlag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
